body{
    text-align: left;
    font-family: "helvetica", "sans-serif";
    margin:auto;
    color:#948359;
    background-color: #1C5A2F;

}
.content{
    width:800px;
    margin:auto;
}
.top{
    display: grid;
    grid-template-columns:  1fr 1fr ;
    border-bottom: 1px solid grey;
}
h1{
    margin: 0;
}
#logo{
    width:18%;
    float:left;
    margin-right: 20px;
}
header{
    grid-column: 1/2;
    text-align: left;
    padding: 15px;
    padding-top: 0;
    margin-top: 25px;
    font-size: 1.7em;
    border-right: 2px solid #E19C2E;
    padding-left: 0;
    margin-bottom: 5px;
}
nav{
    grid-column: 2/3;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
a{
    text-decoration: none;
    color: #E19C2E;
}
span a{
    border-right: grey solid 1px;
    font-size: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
}
span a:last-child {
    border-right: none;
}
@media only screen and (max-width: 450px)
{
    body{
        margin:10px;
    }
    .top{
        grid-template-columns: 1fr;
    }
    header{
        grid-column: 1/2;
        grid-row: 1/2;
        border:none;
    }
    nav{
        grid-column: 1/2;
        grid-row: 2/3;
        padding:0;
    }
    nav span:nth-child(1){
        grid-row: 1/2;
    }
    nav span:nth-child(2){
        grid-row: 2/3;
    }
    nav span:nth-child(3){
        grid-row: 3/4;
    }
    span{
        display: flex;
    }
    a{
        margin:0;
        padding:0;
    }
    body > section > section > header > a{
        display: none;
    }
    .content{
        width:200px;
        margin:0;
        border:none;
    }
}
/* Color Theme Swatches in Hex */
.GOUDA-1-hex { color: #A66E28; }
.GOUDA-2-hex { color: #62230D; }
.GOUDA-3-hex { color: #948359; }
.GOUDA-4-hex { color: #E19C2E; }
.GOUDA-5-hex { color: #1C5A2F; }

