body{
    font-family: "helvetica", "sans-serif";
    background-color: black;
}
h1 a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}
header{
    display:grid;
}
nav{
    display:grid;
}
span a{
    color: grey;
    text-decoration: none;
}
@media only screen and (max-width: 450px)
{
    body{
        margin:10px;
        text-align: left;
    }
    #logo{
        width:  150%;
        margin:0;
    }
    header{
        grid-template-columns: 18% 1fr;
        margin-top: 20px;
        margin-bottom: 25px;
        border-bottom: 2px grey solid;
    }
    header h1{
        font-size: 3.5em;
        padding-left: 15%;
        margin: 0;
    }
    nav{
        grid-template-columns: 90%;
        text-align: center;
    }
    span a{
        font-size: 3em;
        padding-top: 20px;
    }

}
